*.jar
config.txt
.directory
outdate.txt
password.txt
newversion.txt
serversettings.json
config-back.txt
outdata.txt
nokori.txt
world
*log
*gz
*json
*properties
mc.txt
hidden
modpacktest.sh
test.sh
OUTPUTSERVERLIST.txt
mindustry.sh